body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  // background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}

.border-3 {
  border-width: 3px;
}

.task-categories {
  height: 800px;
}

.wrap{
  position: relative;

  a {
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
  }
}

.card {
  &:hover {
    background-color: lightgray;
    transform: translateY(-2px)
  }
}
